# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
anoSemIndex = pd.Series(dados)
anoSemIndex

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

In [3]:
anoSemIndex = pd.Series([-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02])
anoSemIndex

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:

# seu código aqui
anoComIndex = pd.Series([-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02], 
                        index=[1900, 1920, 1940, 1960, 1980, 2000, 2020]) 
anoComIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [5]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
anoDict = {1900: -.08, 
           1920: -.27, 
           1940: .12, 
           1960: -.03,
           1980: .26, 
           2000: .40,
           2020: 1.02}
anoSeries = pd.Series(anoDict)
anoSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [6]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr, columns=['Primeira_coluna','Segunda_coluna','Terceira_coluna'])
df

    Primeira_coluna  Segunda_coluna  Terceira_coluna
0        100.016036      115.334106       105.090094
1         83.893547       84.098632        83.224825
2        108.107313      106.791570       105.013082
3        103.979327       86.677208       101.570147
4         91.408603      110.114075       100.915075
5         92.819584       95.822669        96.410592
6         96.844207      115.125369       105.309615
7         98.480149      107.764811        88.327112
8        103.363391      116.823399       101.849631
9        109.420528       99.313641        92.194254
10       109.661350      103.613201       104.946491
11       100.378629       99.415288        90.506966
12       108.861452      103.904940       109.665848
13        92.273016       96.516526        75.121349
14        82.914912       85.040070        97.197050
15        89.031053       92.221612        86.959336
16       119.405524      118.754213       100.142769
17        61.473095       98.819024       108.445400
18       112.814529       93.607058       108.755484
19       102.680295      107.430900        99.996409

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [7]:
#seu código aqui
df = pd.DataFrame(arr, index=np.arange(1,21), columns=["x1","x2","x3"])
df

            x1          x2          x3
1   100.016036  115.334106  105.090094
2    83.893547   84.098632   83.224825
3   108.107313  106.791570  105.013082
4   103.979327   86.677208  101.570147
5    91.408603  110.114075  100.915075
6    92.819584   95.822669   96.410592
7    96.844207  115.125369  105.309615
8    98.480149  107.764811   88.327112
9   103.363391  116.823399  101.849631
10  109.420528   99.313641   92.194254
11  109.661350  103.613201  104.946491
12  100.378629   99.415288   90.506966
13  108.861452  103.904940  109.665848
14   92.273016   96.516526   75.121349
15   82.914912   85.040070   97.197050
16   89.031053   92.221612   86.959336
17  119.405524  118.754213  100.142769
18   61.473095   98.819024  108.445400
19  112.814529   93.607058  108.755484
20  102.680295  107.430900   99.996409

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [8]:
# seu código aqui
df['media'] = df[['x1','x2','x3']].mean(axis=1)
df

            x1          x2          x3       media
1   100.016036  115.334106  105.090094  106.813412
2    83.893547   84.098632   83.224825   83.739001
3   108.107313  106.791570  105.013082  106.637321
4   103.979327   86.677208  101.570147   97.408894
5    91.408603  110.114075  100.915075  100.812585
6    92.819584   95.822669   96.410592   95.017615
7    96.844207  115.125369  105.309615  105.759730
8    98.480149  107.764811   88.327112   98.190691
9   103.363391  116.823399  101.849631  107.345474
10  109.420528   99.313641   92.194254  100.309474
11  109.661350  103.613201  104.946491  106.073680
12  100.378629   99.415288   90.506966   96.766961
13  108.861452  103.904940  109.665848  107.477413
14   92.273016   96.516526   75.121349   87.970297
15   82.914912   85.040070   97.197050   88.384011
16   89.031053   92.221612   86.959336   89.404000
17  119.405524  118.754213  100.142769  112.767502
18   61.473095   98.819024  108.445400   89.579173
19  112.814529   93.607058  108.755484  105.059024
20  102.680295  107.430900   99.996409  103.369202

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [9]:
# seu código aqui
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1   100.016036  115.334106  105.090094  106.813412  4.671084
2    83.893547   84.098632   83.224825   83.739001  4.427705
3   108.107313  106.791570  105.013082  106.637321  4.669434
4   103.979327   86.677208  101.570147   97.408894  4.578918
5    91.408603  110.114075  100.915075  100.812585  4.613263
6    92.819584   95.822669   96.410592   95.017615  4.554062
7    96.844207  115.125369  105.309615  105.759730  4.661170
8    98.480149  107.764811   88.327112   98.190691  4.586911
9   103.363391  116.823399  101.849631  107.345474  4.676052
10  109.420528   99.313641   92.194254  100.309474  4.608260
11  109.661350  103.613201  104.946491  106.073680  4.664134
12  100.378629   99.415288   90.506966   96.766961  4.572306
13  108.861452  103.904940  109.665848  107.477413  4.677281
14   92.273016   96.516526   75.121349   87.970297  4.476999
15   82.914912   85.040070   97.197050   88.384011  4.481691
16   89.031053   92.221612   86.959336   89.404000  4.493165
17  119.405524  118.754213  100.142769  112.767502  4.725328
18   61.473095   98.819024  108.445400   89.579173  4.495123
19  112.814529   93.607058  108.755484  105.059024  4.654522
20  102.680295  107.430900   99.996409  103.369202  4.638307